.avatarContainer {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 4rem;
    height: 4rem;
}

.avatarContainer img {
    clip-path: url(#squircle);
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: solid 3px var(--color-blue);
}