.headerContainer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    background-color: #FBFDFF;
}

.appLogo {  
    padding: 0.5rem;
    width: 80px;
    height: 80px;
}

.appLogo > img {
    object-fit: contain; 
}